body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  background-color: $main-bg-color;
  height: 100%;
  width: 100%;
  position: relative;
}