/*variables*/
$base-font-size: 13px;
$base-line-height: 18px;

$main-link-color: #0bb6ff;
$main-link-hover-color: #3984ff;
$sidebar-link-color: #696763;
$sidebar-link-hover-color: #fdb45e;

/* text color */
$text-color: #333333;
$primary-color: #fdb45e;
$label-text-color: #696763;
$sidebar-text-color: #808080;
$h2-text-color: #363432;
$carousel-initial-text-color: #fe980f;
$carousel-text-color: #b4b1ab;
$p-text-color: #363432;

/*font family*/
$base-font-family: 'Roboto';

/* bg colors */
$main-bg-color: #ffffff;
$carousel-indicator-bg-color: #c4c4be;


/*border colors*/
$base-border-color: #cccccc;
$thumbnail-border-hover-color: #fdb45e;

/*links colors*/
$link-text-color: #696763;


/*font size*/
$h1-font-size: $base-font-size*3.692;
$h2-font-size: $base-font-size*2.154;

