<!--carousel -->
<div class="carousel slide" id="es-home-carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#es-home-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#es-home-carousel" data-slide-to="1"></li>
        <li data-target="#es-home-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="col-md-6 col-lg-6">
                <h1>
                    <span class="es-c-h1-il">e</span>
                    <span class="es-c-h1-ll">-shopper</span>
                </h1>
                <h2>100% free sale</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut bibendum augue, a facilisis dolor. Proin et tellus ac odio dictum ultricies vitae id erat.</p>
            </div>
            <div class="col-md-6 col-lg-6">
                <img src="images/girl1.jpg" alt="girl1" class="img-responsive"/>
                <img src="images/price.png" alt="price" class="es-price-img img-responsive"/>
            </div>
        </div>
        <div class="item">
            <div class="col-md-6 col-lg-6">
                <h1>
                    <span class="es-c-h1-il">e</span>
                    <span class="es-c-h1-ll">-shopper</span>
                </h1>
                <h2>Winter sale</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut bibendum augue, a facilisis dolor. Proin et tellus ac odio dictum ultricies vitae id erat.</p>
            </div>
            <div class="col-md-6 col-lg-6">
                <img src="images/girl2.jpg" alt="girl2" class="img-responsive"/>
                <img src="images/price.png" alt="price" class="es-price-img img-responsive"/>
            </div>

        </div>
        <div class="item">
            <div class="col-md-6 col-lg-6">
                <h1>
                    <span class="es-c-h1-il">e</span>
                    <span class="es-c-h1-ll">-shopper</span>
                </h1>
                <h2>Summer sale</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut bibendum augue, a facilisis dolor. Proin et tellus ac odio dictum ultricies vitae id erat.</p>
            </div>
            <div class="col-md-6 col-lg-6">
                <img src="images/girl3.jpg" alt="girl3" class="img-responsive"/>
                <img src="images/price.png" alt="price" class="img-responsive es-price-img"/>
            </div>

        </div>
    </div>
    <div class="es-carousel-slide-prev-next">
        <a href="#es-home-carousel" class="carousel-control left" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a href="#es-home-carousel" class="carousel-control right" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>

</div>
<!--./carousel -->