<div class="es-shop-page">
    <section id="es-header-img" class="row">
        <div class="col-md-12">
            <img src="./images/advertisement.jpg" alt="advt">
        </div>
    </section>
    <section id="es-category-items">
        <div class="col-md-3">
            <h4>CATEGORY</h4>
            <ul class="es-category">
                <li><a href="#">sportswear</a></li>
                <li><a href="#">mens</a></li>
                <li><a href="#">womens</a></li>
                <li><a href="#">kids</a></li>
                <li><a href="#">fashion</a></li>
                <li><a href="#">households</a></li>
                <li><a href="#">interiors</a></li>
                <li><a href="#">clothing</a></li>
                <li><a href="#">bags</a></li>
                <li><a href="#">shoes</a></li>
            </ul>
            <h4>BRANDS</h4>
            <ul class="es-brands">
                <li><a href="#">acne</a></li>
                <li><a href="#">grune erde</a></li>
                <li><a href="#">albiro</a></li>
                <li><a href="#">ronhill</a></li>
                <li><a href="#">oddmolly</a></li>
                <li><a href="#">boudestijn</a></li>
                <li><a href="#">rosch creative culture</a></li>
            </ul>
            <h4>PRICE RANGE</h4>
            <div class="price">
                <div class="curr-price-range">
                    {{currentPriceRange}}
                </div>
                <input type="range" name="price-min" id="price-range" data-ng-model="currentPriceRange" min="0" max="1000"/>
                <span class="min-price">$0</span>
                <span class="max-price">$1000</span>
            </div>
        </div>
        <div class="col-md-9">
            <h4>FEATURES ITEMS</h4>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product1.jpg" alt="prodcut1" />
                        <p class="offer-price">$56</p>
                        <p class="price-remarks">Easy Polo Black Edition</p>
                        <div class="add-cart">
                            <i class="fa fa-shopping-cart"></i>
                            Add to cart
                        </div>
                        <div class="card-footer row">
                            <a class="btn-footer col-md-6 br-1px">Add To Wishlist</a>
                            <a class="btn-footer col-md-6">Add To Wishlist</a>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product2.jpg" alt="prodcut2">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product3.jpg" alt="prodcut3">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product4.jpg" alt="prodcut4">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product5.jpg" alt="prodcut5">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product6.jpg" alt="prodcut6">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product7.jpg" alt="prodcut7">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product8.jpg" alt="prodcut8">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product9.jpg" alt="prodcut9">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product10.jpg" alt="prodcut10">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product11.jpg" alt="prodcut11">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="thumbnail">
                        <img src="./images/product12.jpg" alt="prodcut12">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

